body {
    background-color: #9B917F;
}

.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #557314;

  
  li {
    float: left;
    border-right:1px solid #bbb;
  }
  
  li:last-child {
    border-right: none;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: cadetblue;
  }
  
  li a:hover:not(.active) {
    background-color: #4A5932;
  }
  
  .active {
    background-color: #A6587C;
  }
}

.standard-text {
  font-size: large;
  font-family: basic-sans, sans-serif;

}

h2 {
    font-family: basic-sans, sans-serif;
    font-weight: 700;
    font-style: normal;
}

h3 {
    font-family: basic-sans, sans-serif;
    font-weight: 700;
    font-style: italic;
}

div.gallery {
  margin: 5px;
  border: 1px solid #4A5932;
  float: left;
  position: relative;
  left: 6%;
  width: 500px;
}

div.gallery:hover {
  border: 1px solid #557314;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
}

@media only screen and (max-width: 700px) {
  .responsive {
    width: 49.99999%;
    margin: 6px 0;
  }
}

@media only screen and (max-width: 500px) {
  .responsive {
    width: 100%;
  }
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.container {
  width: 50%;
  height: 25%;
  padding: 10px;
  padding-left: 12.5%;
}
.one {
  width: 75%;
  height: 375px;
  max-height: 375px;
  float: left;
  background-color: #C5BDA9;
  box-sizing: border-box;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  overflow: hidden;
}

.two {
  height: 125px;
  float: right;
  /* padding-left: 5%; */
  width: 25%;
}

.three {
  /* center the image*/
  position: relative;
  left: 10%;
  height: 125px;
  float: left;
  /* padding-left: 5%; */
  width: 25%;
}

.four {
  width: 75%;
  height: 375px;
  background-color: rgba(117, 113, 113, 0.5);
  box-sizing: border-box;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  overflow: hidden;
}